#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d8dfe6;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .main-content {
    background-color: black;
    border: 1px solid #232525;
  }
}
