.asset-details {
  border: 1px solid #d8dfe6;
  border-radius: 4px;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.asset-details-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
